In [3]:
import pyspark
from pyspark.sql import SparkSession,SQLContext
from pyspark.context import SparkContext
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [4]:
spark = SparkSession.builder.appName('Covid sample analysis').getOrCreate()

25/02/05 14:47:58 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

### Practicing Spark operations using a COVID dataset. The tasks include:

#### 1.Reading a CSV file
#### 2.Changing column names and data types
#### 3.Applying filters and transformations
#### 4.Performing joins
#### 5.Using Spark SQL
#### 6.Implementing Spark UDFs
#### 7.Applying window functions

#### 1.Reading a CSV file

In [5]:

covid_data = spark.read.load('./source_data/Case.csv', format="csv", sep=',', inferschema=True, header=True)
covid_data

DataFrame[ case_id: int, province: string, city: string, group: boolean, infection_case: string, confirmed: int, latitude: string, longitude: string]

In [6]:
covid_data.show()

+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| case_id|province|           city|group|      infection_case|confirmed| latitude| longitude|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| 1000001|   Seoul|     Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul|      Gwanak-gu| true|             Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|        Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|
| 1000004|   Seoul|   Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|
| 1000005|   Seoul|      Dobong-gu| true|     Day Care Center|       43|37.679422|127.044374|
| 1000006|   Seoul|        Guro-gu| true|Manmin Central Ch...|       41|37.481059|126.894343|
| 1000007|   Seoul|from other city| true|SMR Newly Planted...|       36|        -|         -|
| 1000008|   Seoul|  Dongdaemun-gu| true|       Dongan Church|       17|37.592888|127.056766|
| 1000009|   Seoul|from other city| true|Coupang Logistics...|       25|        -|         -|
| 1000010|   Seoul|      Gwanak-gu| true|     Wangsung Church|       30|37.481735|126.930121|
| 1000011|   Seoul|   Eunpyeong-gu| true|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|
| 1000012|   Seoul|   Seongdong-gu| true|    Seongdong-gu APT|       13| 37.55713|  127.0403|
| 1000013|   Seoul|      Jongno-gu| true|Jongno Community ...|       10| 37.57681|   127.006|
| 1000014|   Seoul|     Gangnam-gu| true|Samsung Medical C...|        7| 37.48825| 127.08559|
| 1000015|   Seoul|        Jung-gu| true|Jung-gu Fashion C...|        7|37.562405|126.984377|
| 1000016|   Seoul|   Seodaemun-gu| true|  Yeonana News Class|        5|37.558147|126.943799|
| 1000017|   Seoul|      Jongno-gu| true|Korea Campus Crus...|        7|37.594782|126.968022|
| 1000018|   Seoul|     Gangnam-gu| true|Gangnam Yeoksam-d...|        6|        -|         -|
| 1000019|   Seoul|from other city| true|Daejeon door-to-d...|        1|        -|         -|
| 1000020|   Seoul|   Geumcheon-gu| true|Geumcheon-gu rice...|        6|        -|         -|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
only showing top 20 rows

#### 2.Changing column names and data types

In [8]:
covid_datas =covid_data.withColumnRenamed('infection_case','continment_area')\
       .withColumnRenamed('confirmed','confirmed_cases')  
covid_datas.show()

+--------+--------+---------------+-----+--------------------+---------------+---------+----------+
| case_id|province|           city|group|     continment_area|confirmed_cases| latitude| longitude|
+--------+--------+---------------+-----+--------------------+---------------+---------+----------+
| 1000001|   Seoul|     Yongsan-gu| true|       Itaewon Clubs|            139|37.538621|126.992652|
| 1000002|   Seoul|      Gwanak-gu| true|             Richway|            119| 37.48208|126.901384|
| 1000003|   Seoul|        Guro-gu| true| Guro-gu Call Center|             95|37.508163|126.884387|
| 1000004|   Seoul|   Yangcheon-gu| true|Yangcheon Table T...|             43|37.546061|126.874209|
| 1000005|   Seoul|      Dobong-gu| true|     Day Care Center|             43|37.679422|127.044374|
| 1000006|   Seoul|        Guro-gu| true|Manmin Central Ch...|             41|37.481059|126.894343|
| 1000007|   Seoul|from other city| true|SMR Newly Planted...|             36|        -|         -|
| 1000008|   Seoul|  Dongdaemun-gu| true|       Dongan Church|             17|37.592888|127.056766|
| 1000009|   Seoul|from other city| true|Coupang Logistics...|             25|        -|         -|
| 1000010|   Seoul|      Gwanak-gu| true|     Wangsung Church|             30|37.481735|126.930121|
| 1000011|   Seoul|   Eunpyeong-gu| true|Eunpyeong St. Mar...|             14| 37.63369|  126.9165|
| 1000012|   Seoul|   Seongdong-gu| true|    Seongdong-gu APT|             13| 37.55713|  127.0403|
| 1000013|   Seoul|      Jongno-gu| true|Jongno Community ...|             10| 37.57681|   127.006|
| 1000014|   Seoul|     Gangnam-gu| true|Samsung Medical C...|              7| 37.48825| 127.08559|
| 1000015|   Seoul|        Jung-gu| true|Jung-gu Fashion C...|              7|37.562405|126.984377|
| 1000016|   Seoul|   Seodaemun-gu| true|  Yeonana News Class|              5|37.558147|126.943799|
| 1000017|   Seoul|      Jongno-gu| true|Korea Campus Crus...|              7|37.594782|126.968022|
| 1000018|   Seoul|     Gangnam-gu| true|Gangnam Yeoksam-d...|              6|        -|         -|
| 1000019|   Seoul|from other city| true|Daejeon door-to-d...|              1|        -|         -|
| 1000020|   Seoul|   Geumcheon-gu| true|Geumcheon-gu rice...|              6|        -|         -|
+--------+--------+---------------+-----+--------------------+---------------+---------+----------+
only showing top 20 rows

In [9]:
covid_datas.sort('confirmed_cases').show()

+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
| case_id|         province|           city|group|     continment_area|confirmed_cases| latitude| longitude|
+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
| 7000002|          Jeju-do|              -|false|contact with patient|              0|        -|         -|
| 3000007|       Gangwon-do|              -|false|contact with patient|              0|        -|         -|
| 1000030|            Seoul|     Gangseo-gu| true|SJ Investment Cal...|              0|37.559649|126.835102|
| 1100007|            Busan|from other city| true|Cheongdo Daenam H...|              1|        -|         -|
| 5000003|     Jeollabuk-do|from other city| true|  Shincheonji Church|              1|        -|         -|
| 1000028|            Seoul|from other city| true|Anyang Gunpo Past...|              1|        -|         -|
| 1000025|            Seoul|     Gangnam-gu| true|Gangnam Dongin Ch...|              1|37.522331|127.057388|
| 1700003|           Sejong|from other city| true|  Shincheonji Church|              1|        -|         -|
| 5100002|     Jeollanam-do|from other city| true|  Shincheonji Church|              1|        -|         -|
| 7000004|          Jeju-do|from other city| true|       Itaewon Clubs|              1|        -|         -|
| 1000019|            Seoul|from other city| true|Daejeon door-to-d...|              1|        -|         -|
| 1000034|            Seoul|              -| true|         Orange Life|              1|        -|         -|
| 1700006|           Sejong|              -|false|                 etc|              1|        -|         -|
| 1300005|          Gwangju|              -|false|                 etc|              1|        -|         -|
| 1200006|            Daegu|from other city| true|       Itaewon Clubs|              2|        -|         -|
| 1200007|            Daegu|from other city| true|Cheongdo Daenam H...|              2|        -|         -|
| 1400004|          Incheon|from other city| true|  Shincheonji Church|              2|        -|         -|
| 1000033|            Seoul|from other city| true|Uiwang Logistics ...|              2|        -|         -|
| 1500006|          Daejeon|from other city| true|  Shincheonji Church|              2|        -|         -|
| 4000003|Chungcheongbuk-do|from other city| true| Guro-gu Call Center|              2|        -|         -|
+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
only showing top 20 rows

In [10]:
covid_datas.sort(desc('confirmed_cases')).show()

+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
| case_id|         province|           city|group|     continment_area|confirmed_cases| latitude| longitude|
+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
| 1200001|            Daegu|         Nam-gu| true|  Shincheonji Church|           4511| 35.84008|  128.5667|
| 1200009|            Daegu|              -|false|contact with patient|            917|        -|         -|
| 1200010|            Daegu|              -|false|                 etc|            747|        -|         -|
| 6000001| Gyeongsangbuk-do|from other city| true|  Shincheonji Church|            566|        -|         -|
| 2000020|      Gyeonggi-do|              -|false|     overseas inflow|            305|        -|         -|
| 1000036|            Seoul|              -|false|     overseas inflow|            298|        -|         -|
| 1200002|            Daegu|   Dalseong-gun| true|Second Mi-Ju Hosp...|            196|35.857375|128.466651|
| 6000012| Gyeongsangbuk-do|              -|false|contact with patient|            190|        -|         -|
| 1000037|            Seoul|              -|false|contact with patient|            162|        -|         -|
| 1000001|            Seoul|     Yongsan-gu| true|       Itaewon Clubs|            139|37.538621|126.992652|
| 6000013| Gyeongsangbuk-do|              -|false|                 etc|            133|        -|         -|
| 1200003|            Daegu|         Seo-gu| true|Hansarang Convale...|            124|35.885592|128.556649|
| 1000002|            Seoul|      Gwanak-gu| true|             Richway|            119| 37.48208|126.901384|
| 6000002| Gyeongsangbuk-do|   Cheongdo-gun| true|Cheongdo Daenam H...|            119| 35.64887|  128.7368|
| 4100001|Chungcheongnam-do|     Cheonan-si| true|gym facility in C...|            103| 36.81503|  127.1139|
| 1200004|            Daegu|   Dalseong-gun| true|Daesil Convalesce...|            101|35.857393|128.466653|
| 1000038|            Seoul|              -|false|                 etc|            100|        -|         -|
| 1000003|            Seoul|        Guro-gu| true| Guro-gu Call Center|             95|37.508163|126.884387|
| 2000022|      Gyeonggi-do|              -|false|                 etc|             84|        -|         -|
| 1400005|          Incheon|              -|false|     overseas inflow|             68|        -|         -|
+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
only showing top 20 rows

 #### Change data types

In [12]:
covid_datas.printSchema()

root
 |--  case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- continment_area: string (nullable = true)
 |-- confirmed_cases: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [15]:
covid_datas.withColumn("confirmed_cases", col("confirmed_cases").cast(IntegerType()))
covid_datas.printSchema()

root
 |--  case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- continment_area: string (nullable = true)
 |-- confirmed_cases: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [16]:
data = covid_datas.withColumn("confirmed_cases", col("confirmed_cases").cast(IntegerType()))\
                  .withColumn("city", col("city").cast(StringType()))
data.printSchema()

root
 |--  case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- continment_area: string (nullable = true)
 |-- confirmed_cases: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [54]:
data_new = data.withColumn('NewconfirmaedCases', 100 + col('confirmed_cases'))
data_new['confirmed_cases','NewconfirmaedCases'].show()

+---------------+------------------+
|confirmed_cases|NewconfirmaedCases|
+---------------+------------------+
|            139|               239|
|            119|               219|
|             95|               195|
|             43|               143|
|             43|               143|
|             41|               141|
|             36|               136|
|             17|               117|
|             25|               125|
|             30|               130|
|             14|               114|
|             13|               113|
|             10|               110|
|              7|               107|
|              7|               107|
|              5|               105|
|              7|               107|
|              6|               106|
|              1|               101|
|              6|               106|
+---------------+------------------+
only showing top 20 rows

#### 3.Applying filters and transformations

In [23]:
data.filter((data.confirmed_cases > 30)).show()

+--------+--------+---------------+-----+--------------------+---------------+---------+----------+
| case_id|province|           city|group|     continment_area|confirmed_cases| latitude| longitude|
+--------+--------+---------------+-----+--------------------+---------------+---------+----------+
| 1000001|   Seoul|     Yongsan-gu| true|       Itaewon Clubs|            139|37.538621|126.992652|
| 1000002|   Seoul|      Gwanak-gu| true|             Richway|            119| 37.48208|126.901384|
| 1000003|   Seoul|        Guro-gu| true| Guro-gu Call Center|             95|37.508163|126.884387|
| 1000004|   Seoul|   Yangcheon-gu| true|Yangcheon Table T...|             43|37.546061|126.874209|
| 1000005|   Seoul|      Dobong-gu| true|     Day Care Center|             43|37.679422|127.044374|
| 1000006|   Seoul|        Guro-gu| true|Manmin Central Ch...|             41|37.481059|126.894343|
| 1000007|   Seoul|from other city| true|SMR Newly Planted...|             36|        -|         -|
| 1000036|   Seoul|              -|false|     overseas inflow|            298|        -|         -|
| 1000037|   Seoul|              -|false|contact with patient|            162|        -|         -|
| 1000038|   Seoul|              -|false|                 etc|            100|        -|         -|
| 1100001|   Busan|     Dongnae-gu| true|       Onchun Church|             39| 35.21628|  129.0771|
| 1100008|   Busan|              -|false|     overseas inflow|             36|        -|         -|
| 1200001|   Daegu|         Nam-gu| true|  Shincheonji Church|           4511| 35.84008|  128.5667|
| 1200002|   Daegu|   Dalseong-gun| true|Second Mi-Ju Hosp...|            196|35.857375|128.466651|
| 1200003|   Daegu|         Seo-gu| true|Hansarang Convale...|            124|35.885592|128.556649|
| 1200004|   Daegu|   Dalseong-gun| true|Daesil Convalesce...|            101|35.857393|128.466653|
| 1200005|   Daegu|        Dong-gu| true|     Fatima Hospital|             39| 35.88395|128.624059|
| 1200008|   Daegu|              -|false|     overseas inflow|             41|        -|         -|
| 1200009|   Daegu|              -|false|contact with patient|            917|        -|         -|
| 1200010|   Daegu|              -|false|                 etc|            747|        -|         -|
+--------+--------+---------------+-----+--------------------+---------------+---------+----------+
only showing top 20 rows

In [26]:
data.dropDuplicates(['city']).show()

+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
| case_id|         province|           city|group|     continment_area|confirmed_cases| latitude| longitude|
+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
| 1000034|            Seoul|              -| true|         Orange Life|              1|        -|         -|
| 2000011|      Gyeonggi-do|      Anyang-si| true|Anyang Gunpo Past...|             22|37.381784| 126.93615|
| 6000003| Gyeongsangbuk-do|    Bonghwa-gun| true|Bonghwa Pureun Nu...|             68| 36.92757|  128.9099|
| 2000002|      Gyeonggi-do|     Bucheon-si| true|Coupang Logistics...|             67|37.530579|126.775254|
| 6100006| Gyeongsangnam-do|Changnyeong-gun| true|Changnyeong Coin ...|              7| 35.54127|  128.5008|
| 6100005| Gyeongsangnam-do|    Changwon-si| true|Hanmaeum Changwon...|              7| 35.22115|  128.6866|
| 4100001|Chungcheongnam-do|     Cheonan-si| true|gym facility in C...|            103| 36.81503|  127.1139|
| 6000002| Gyeongsangbuk-do|   Cheongdo-gun| true|Cheongdo Daenam H...|            119| 35.64887|  128.7368|
| 6000007| Gyeongsangbuk-do|    Chilgok-gun| true|       Milal Shelter|             36|  36.0581|  128.4941|
| 1200002|            Daegu|   Dalseong-gun| true|Second Mi-Ju Hosp...|            196|35.857375|128.466651|
| 1000005|            Seoul|      Dobong-gu| true|     Day Care Center|             43|37.679422|127.044374|
| 1200005|            Daegu|        Dong-gu| true|     Fatima Hospital|             39| 35.88395|128.624059|
| 1000008|            Seoul|  Dongdaemun-gu| true|       Dongan Church|             17|37.592888|127.056766|
| 1100001|            Busan|     Dongnae-gu| true|       Onchun Church|             39| 35.21628|  129.0771|
| 1000011|            Seoul|   Eunpyeong-gu| true|Eunpyeong St. Mar...|             14| 37.63369|  126.9165|
| 1000014|            Seoul|     Gangnam-gu| true|Samsung Medical C...|              7| 37.48825| 127.08559|
| 1000030|            Seoul|     Gangseo-gu| true|SJ Investment Cal...|              0|37.559649|126.835102|
| 6100002| Gyeongsangnam-do|   Geochang-gun| true|     Geochang Church|             10| 35.68556|  127.9127|
| 1000020|            Seoul|   Geumcheon-gu| true|Geumcheon-gu rice...|              6|        -|         -|
| 4000001|Chungcheongbuk-do|     Goesan-gun| true|Goesan-gun Jangye...|             11| 36.82422|  127.9552|
+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
only showing top 20 rows

In [27]:
data.filter((data.confirmed_cases > 30) & (data.city=='Bucheon-si')).show()

+--------+-----------+----------+-----+--------------------+---------------+---------+----------+
| case_id|   province|      city|group|     continment_area|confirmed_cases| latitude| longitude|
+--------+-----------+----------+-----+--------------------+---------------+---------+----------+
| 2000002|Gyeonggi-do|Bucheon-si| true|Coupang Logistics...|             67|37.530579|126.775254|
+--------+-----------+----------+-----+--------------------+---------------+---------+----------+

In [31]:
data.select('city').distinct().show()

+---------------+
|           city|
+---------------+
|     Gangnam-gu|
|     Cheonan-si|
|from other city|
|      Anyang-si|
|      Gwanak-gu|
|     Yongsan-gu|
|        Dong-gu|
|         Sejong|
|     Gangseo-gu|
|       Wonju-si|
|     Suyeong-gu|
|   Geochang-gun|
|  Dongdaemun-gu|
|     Dongnae-gu|
|         Jin-gu|
|     Yangsan-si|
|    Changwon-si|
|         Nam-gu|
|   Gyeongsan-si|
|      Jongno-gu|
+---------------+
only showing top 20 rows

In [32]:
data.groupBy('city').count().show()

+---------------+-----+
|           city|count|
+---------------+-----+
|     Gangnam-gu|    4|
|     Cheonan-si|    1|
|from other city|   51|
|      Anyang-si|    2|
|      Gwanak-gu|    2|
|     Yongsan-gu|    1|
|        Dong-gu|    2|
|         Sejong|    2|
|     Gangseo-gu|    1|
|       Wonju-si|    1|
|     Suyeong-gu|    1|
|   Geochang-gun|    2|
|  Dongdaemun-gu|    1|
|     Dongnae-gu|    1|
|         Jin-gu|    1|
|     Yangsan-si|    1|
|    Changwon-si|    1|
|         Nam-gu|    1|
|   Gyeongsan-si|    3|
|      Jongno-gu|    2|
+---------------+-----+
only showing top 20 rows

In [35]:
data.groupBy('city').count().orderBy(desc("count")).show()

+---------------+-----+
|           city|count|
+---------------+-----+
|              -|   53|
|from other city|   51|
|         Seo-gu|    5|
|     Gangnam-gu|    4|
|   Gyeongsan-si|    3|
|        Jung-gu|    3|
|        Guro-gu|    3|
|    Seongnam-si|    3|
|         Sejong|    2|
|      Anyang-si|    2|
|   Geochang-gun|    2|
|      Jongno-gu|    2|
|       Suwon-si|    2|
|      Gwanak-gu|    2|
|   Yangcheon-gu|    2|
|   Dalseong-gun|    2|
|        Dong-gu|    2|
|     Cheonan-si|    1|
|     Yongsan-gu|    1|
|     Gangseo-gu|    1|
+---------------+-----+
only showing top 20 rows

In [37]:
data.groupBy(['province','city']).agg(sum('confirmed_cases'), max('confirmed_cases')).show()

+----------------+---------------+--------------------+--------------------+
|        province|           city|sum(confirmed_cases)|max(confirmed_cases)|
+----------------+---------------+--------------------+--------------------+
|Gyeongsangnam-do|       Jinju-si|                   9|                   9|
|           Seoul|        Guro-gu|                 139|                  95|
|           Seoul|     Gangnam-gu|                  18|                   7|
|         Daejeon|              -|                 100|                  55|
|    Jeollabuk-do|from other city|                   6|                   3|
|Gyeongsangnam-do|Changnyeong-gun|                   7|                   7|
|           Seoul|              -|                 561|                 298|
|         Jeju-do|from other city|                   1|                   1|
|Gyeongsangbuk-do|              -|                 345|                 190|
|Gyeongsangnam-do|   Geochang-gun|                  18|                  10|
|Gyeongsangbuk-do|        Gumi-si|                  10|                  10|
|         Incheon|from other city|                 117|                  53|
|           Busan|              -|                  85|                  36|
|           Daegu|         Seo-gu|                 124|                 124|
|           Busan|     Suyeong-gu|                   5|                   5|
|     Gyeonggi-do|   Uijeongbu-si|                  50|                  50|
|           Seoul|     Yongsan-gu|                 139|                 139|
|           Daegu|              -|                1705|                 917|
|           Seoul|   Seodaemun-gu|                   5|                   5|
|     Gyeonggi-do|    Seongnam-si|                  94|                  67|
+----------------+---------------+--------------------+--------------------+
only showing top 20 rows

In [38]:
data.groupBy(['province','city']).agg(sum('confirmed_cases').alias('Total_Confirmed_Cases'),\
                                      max('confirmed_cases').alias('Max_Confirmed_Cases')).show()

+----------------+---------------+---------------------+-------------------+
|        province|           city|Total_Confirmed_Cases|Max_Confirmed_Cases|
+----------------+---------------+---------------------+-------------------+
|Gyeongsangnam-do|       Jinju-si|                    9|                  9|
|           Seoul|        Guro-gu|                  139|                 95|
|           Seoul|     Gangnam-gu|                   18|                  7|
|         Daejeon|              -|                  100|                 55|
|    Jeollabuk-do|from other city|                    6|                  3|
|Gyeongsangnam-do|Changnyeong-gun|                    7|                  7|
|           Seoul|              -|                  561|                298|
|         Jeju-do|from other city|                    1|                  1|
|Gyeongsangbuk-do|              -|                  345|                190|
|Gyeongsangnam-do|   Geochang-gun|                   18|                 10|
|Gyeongsangbuk-do|        Gumi-si|                   10|                 10|
|         Incheon|from other city|                  117|                 53|
|           Busan|              -|                   85|                 36|
|           Daegu|         Seo-gu|                  124|                124|
|           Busan|     Suyeong-gu|                    5|                  5|
|     Gyeonggi-do|   Uijeongbu-si|                   50|                 50|
|           Seoul|     Yongsan-gu|                  139|                139|
|           Daegu|              -|                 1705|                917|
|           Seoul|   Seodaemun-gu|                    5|                  5|
|     Gyeonggi-do|    Seongnam-si|                   94|                 67|
+----------------+---------------+---------------------+-------------------+
only showing top 20 rows

#### 4.Performing joins

In [42]:
region = spark.read.load("./source_data/Region.csv", format='csv', sep=',', inferschema=True, header=True)
region.show()

+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
| code|province|         city| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|
+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|10000|   Seoul|        Seoul|37.566953|126.977977|                    607|               830|              48|         1.44|                   15.38|                5.8|             22739|
|10010|   Seoul|   Gangnam-gu|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|10020|   Seoul|  Gangdong-gu|37.530492|127.123837|                     27|                32|               0|         1.54|                   14.55|                5.4|              1023|
|10030|   Seoul|   Gangbuk-gu|37.639938|127.025508|                     14|                21|               0|         0.67|                   19.49|                8.5|               628|
|10040|   Seoul|   Gangseo-gu|37.551166|126.849506|                     36|                56|               1|         1.17|                   14.39|                5.7|              1080|
|10050|   Seoul|    Gwanak-gu| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|10060|   Seoul|  Gwangjin-gu|37.538712|127.082366|                     22|                33|               3|         1.16|                   13.75|                4.8|               723|
|10070|   Seoul|      Guro-gu|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|
|10080|   Seoul| Geumcheon-gu|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|
|10090|   Seoul|     Nowon-gu|37.654259|127.056294|                     42|                66|               6|         1.39|                    15.4|                7.4|               952|
|10100|   Seoul|    Dobong-gu|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|
|10110|   Seoul|Dongdaemun-gu|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|
|10120|   Seoul|   Dongjak-gu|37.510571|126.963604|                     21|                34|               3|         1.17|                   15.85|                5.2|               762|
|10130|   Seoul|      Mapo-gu|37.566283|126.901644|                     22|                24|               2|         1.83|                   14.05|                4.9|               929|
|10140|   Seoul| Seodaemun-gu|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|
|10150|   Seoul|    Seocho-gu|37.483804|127.032693|                     24|                27|               1|          2.6|                   13.39|                3.8|              1465|
|10160|   Seoul| Seongdong-gu|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|
|10170|   Seoul|  Seongbuk-gu|37.589562|  127.0167|                     29|                49|               6|         1.02|                   16.15|                6.0|               729|
|10180|   Seoul|    Songpa-gu| 37.51462|127.106141|                     40|                51|               1|         1.65|                    13.1|                4.1|              1527|
|10190|   Seoul| Yangcheon-gu|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|
+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
only showing top 20 rows

In [44]:
data_region = data.join(region,['province','city'], how='left')
data_region.show()

+--------+---------------+--------+-----+--------------------+---------------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|province|           city| case_id|group|     continment_area|confirmed_cases| latitude| longitude| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|
+--------+---------------+--------+-----+--------------------+---------------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|   Seoul|     Yongsan-gu| 1000001| true|       Itaewon Clubs|            139|37.538621|126.992652|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|
|   Seoul|      Gwanak-gu| 1000002| true|             Richway|            119| 37.48208|126.901384|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|   Seoul|        Guro-gu| 1000003| true| Guro-gu Call Center|             95|37.508163|126.884387|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|
|   Seoul|   Yangcheon-gu| 1000004| true|Yangcheon Table T...|             43|37.546061|126.874209|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|
|   Seoul|      Dobong-gu| 1000005| true|     Day Care Center|             43|37.679422|127.044374|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|
|   Seoul|        Guro-gu| 1000006| true|Manmin Central Ch...|             41|37.481059|126.894343|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|
|   Seoul|from other city| 1000007| true|SMR Newly Planted...|             36|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|  Dongdaemun-gu| 1000008| true|       Dongan Church|             17|37.592888|127.056766|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|
|   Seoul|from other city| 1000009| true|Coupang Logistics...|             25|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|      Gwanak-gu| 1000010| true|     Wangsung Church|             30|37.481735|126.930121|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|   Seoul|   Eunpyeong-gu| 1000011| true|Eunpyeong St. Mar...|             14| 37.63369|  126.9165|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|
|   Seoul|   Seongdong-gu| 1000012| true|    Seongdong-gu APT|             13| 37.55713|  127.0403|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|
|   Seoul|      Jongno-gu| 1000013| true|Jongno Community ...|             10| 37.57681|   127.006|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|
|   Seoul|     Gangnam-gu| 1000014| true|Samsung Medical C...|              7| 37.48825| 127.08559|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|   Seoul|        Jung-gu| 1000015| true|Jung-gu Fashion C...|              7|37.562405|126.984377|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|
|   Seoul|   Seodaemun-gu| 1000016| true|  Yeonana News Class|              5|37.558147|126.943799|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|
|   Seoul|      Jongno-gu| 1000017| true|Korea Campus Crus...|              7|37.594782|126.968022|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|
|   Seoul|     Gangnam-gu| 1000018| true|Gangnam Yeoksam-d...|              6|        -|         -|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|   Seoul|from other city| 1000019| true|Daejeon door-to-d...|              1|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|   Geumcheon-gu| 1000020| true|Geumcheon-gu rice...|              6|        -|         -|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|
+--------+---------------+--------+-----+--------------------+---------------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
only showing top 20 rows

In [45]:
data_region_anti_left = data.join(region,['province','city'], how='left_anti')
data_region_anti_left.show()

+--------+---------------+--------+-----+--------------------+---------------+--------+---------+
|province|           city| case_id|group|     continment_area|confirmed_cases|latitude|longitude|
+--------+---------------+--------+-----+--------------------+---------------+--------+---------+
|   Seoul|from other city| 1000007| true|SMR Newly Planted...|             36|       -|        -|
|   Seoul|from other city| 1000009| true|Coupang Logistics...|             25|       -|        -|
|   Seoul|from other city| 1000019| true|Daejeon door-to-d...|              1|       -|        -|
|   Seoul|from other city| 1000021| true|  Shincheonji Church|              8|       -|        -|
|   Seoul|from other city| 1000022| true|Guri Collective I...|              5|       -|        -|
|   Seoul|from other city| 1000028| true|Anyang Gunpo Past...|              1|       -|        -|
|   Seoul|from other city| 1000031| true|     Yongin Brothers|              4|       -|        -|
|   Seoul|from other city| 1000033| true|Uiwang Logistics ...|              2|       -|        -|
|   Seoul|              -| 1000034| true|         Orange Life|              1|       -|        -|
|   Seoul|              -| 1000036|false|     overseas inflow|            298|       -|        -|
|   Seoul|              -| 1000037|false|contact with patient|            162|       -|        -|
|   Seoul|              -| 1000038|false|                 etc|            100|       -|        -|
|   Busan|from other city| 1100002| true|  Shincheonji Church|             12|       -|        -|
|   Busan|         Jin-gu| 1100005| true|      Jin-gu Academy|              4|35.17371| 129.0633|
|   Busan|from other city| 1100006| true|       Itaewon Clubs|              4|       -|        -|
|   Busan|from other city| 1100007| true|Cheongdo Daenam H...|              1|       -|        -|
|   Busan|              -| 1100008|false|     overseas inflow|             36|       -|        -|
|   Busan|              -| 1100009|false|contact with patient|             19|       -|        -|
|   Busan|              -| 1100010|false|                 etc|             30|       -|        -|
|   Daegu|from other city| 1200006| true|       Itaewon Clubs|              2|       -|        -|
+--------+---------------+--------+-----+--------------------+---------------+--------+---------+
only showing top 20 rows

In [47]:
data.count()

174

In [48]:
region.count()

244

##### Performance Optimization in Joins
 ###### Use Broadcast Join for small DataFrames:

In [51]:
df_join = region.join(broadcast(data),['province','city'], 'inner')
df_join.show()

+--------+---------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+--------+-----+--------------------+---------------+---------+----------+
|province|           city| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| case_id|group|     continment_area|confirmed_cases| latitude| longitude|
+--------+---------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+--------+-----+--------------------+---------------+---------+----------+
|   Seoul|     Gangnam-gu|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088| 1000029| true|Samsung Fire & Ma...|              4|37.498279|127.030139|
|   Seoul|     Gangnam-gu|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088| 1000025| true|Gangnam Dongin Ch...|              1|37.522331|127.057388|
|   Seoul|     Gangnam-gu|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088| 1000018| true|Gangnam Yeoksam-d...|              6|        -|         -|
|   Seoul|     Gangnam-gu|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088| 1000014| true|Samsung Medical C...|              7| 37.48825| 127.08559|
|   Seoul|     Gangseo-gu|10040|37.551166|126.849506|                     36|                56|               1|         1.17|                   14.39|                5.7|              1080| 1000030| true|SJ Investment Cal...|              0|37.559649|126.835102|
|   Seoul|      Gwanak-gu|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909| 1000010| true|     Wangsung Church|             30|37.481735|126.930121|
|   Seoul|      Gwanak-gu|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909| 1000002| true|             Richway|            119| 37.48208|126.901384|
|   Seoul|        Guro-gu|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741| 1000035| true|     Daezayeon Korea|              3|37.486837|126.893163|
|   Seoul|        Guro-gu|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741| 1000006| true|Manmin Central Ch...|             41|37.481059|126.894343|
|   Seoul|        Guro-gu|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741| 1000003| true| Guro-gu Call Center|             95|37.508163|126.884387|
|   Seoul|   Geumcheon-gu|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475| 1000020| true|Geumcheon-gu rice...|              6|        -|         -|
|   Seoul|      Dobong-gu|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485| 1000005| true|     Day Care Center|             43|37.679422|127.044374|
|   Seoul|  Dongdaemun-gu|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832| 1000008| true|       Dongan Church|             17|37.592888|127.056766|
|   Seoul|   Seodaemun-gu|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587| 1000016| true|  Yeonana News Class|              5|37.558147|126.943799|
|   Seoul|      Seocho-gu|10150|37.483804|127.032693|                     24|                27|               1|          2.6|                   13.39|                3.8|              1465| 1000027| true|       Seocho Family|              5|        -|         -|
|   Seoul|   Seongdong-gu|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593| 1000012| true|    Seongdong-gu APT|             13| 37.55713|  127.0403|
|   Seoul|   Yangcheon-gu|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816| 1000026| true|Biblical Language...|              3|37.524623|126.843118|
|   Seoul|   Yangcheon-gu|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816| 1000004| true|Yangcheon Table T...|             43|37.546061|126.874209|
|   Seoul|Yeongdeungpo-gu|10200|37.526505| 126.89619|                     23|                39|               0|         1.21|                    15.6|                5.8|              1001| 1000024| true|Yeongdeungpo Lear...|              3|37.520846|126.931278|
|   Seoul|     Yongsan-gu|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435| 1000001| true|       Itaewon Clubs|            139|37.538621|126.992652|
+--------+---------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+--------+-----+--------------------+---------------+---------+----------+
only showing top 20 rows

#### 5.Using Spark SQL

In [55]:
data.registerTempTable('covid_data')

/usr/local/Cellar/apache-spark/3.3.1/libexec/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [57]:
sql_df = spark.sql("select * from covid_data limit 10 ")
sql_df.show()

+--------+--------+---------------+-----+--------------------+---------------+---------+----------+
| case_id|province|           city|group|     continment_area|confirmed_cases| latitude| longitude|
+--------+--------+---------------+-----+--------------------+---------------+---------+----------+
| 1000001|   Seoul|     Yongsan-gu| true|       Itaewon Clubs|            139|37.538621|126.992652|
| 1000002|   Seoul|      Gwanak-gu| true|             Richway|            119| 37.48208|126.901384|
| 1000003|   Seoul|        Guro-gu| true| Guro-gu Call Center|             95|37.508163|126.884387|
| 1000004|   Seoul|   Yangcheon-gu| true|Yangcheon Table T...|             43|37.546061|126.874209|
| 1000005|   Seoul|      Dobong-gu| true|     Day Care Center|             43|37.679422|127.044374|
| 1000006|   Seoul|        Guro-gu| true|Manmin Central Ch...|             41|37.481059|126.894343|
| 1000007|   Seoul|from other city| true|SMR Newly Planted...|             36|        -|         -|
| 1000008|   Seoul|  Dongdaemun-gu| true|       Dongan Church|             17|37.592888|127.056766|
| 1000009|   Seoul|from other city| true|Coupang Logistics...|             25|        -|         -|
| 1000010|   Seoul|      Gwanak-gu| true|     Wangsung Church|             30|37.481735|126.930121|
+--------+--------+---------------+-----+--------------------+---------------+---------+----------+

In [58]:
spark.sql("select * from covid_data where  confirmed_cases > 100").show()

+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
| case_id|         province|           city|group|     continment_area|confirmed_cases| latitude| longitude|
+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
| 1000001|            Seoul|     Yongsan-gu| true|       Itaewon Clubs|            139|37.538621|126.992652|
| 1000002|            Seoul|      Gwanak-gu| true|             Richway|            119| 37.48208|126.901384|
| 1000036|            Seoul|              -|false|     overseas inflow|            298|        -|         -|
| 1000037|            Seoul|              -|false|contact with patient|            162|        -|         -|
| 1200001|            Daegu|         Nam-gu| true|  Shincheonji Church|           4511| 35.84008|  128.5667|
| 1200002|            Daegu|   Dalseong-gun| true|Second Mi-Ju Hosp...|            196|35.857375|128.466651|
| 1200003|            Daegu|         Seo-gu| true|Hansarang Convale...|            124|35.885592|128.556649|
| 1200004|            Daegu|   Dalseong-gun| true|Daesil Convalesce...|            101|35.857393|128.466653|
| 1200009|            Daegu|              -|false|contact with patient|            917|        -|         -|
| 1200010|            Daegu|              -|false|                 etc|            747|        -|         -|
| 2000020|      Gyeonggi-do|              -|false|     overseas inflow|            305|        -|         -|
| 4100001|Chungcheongnam-do|     Cheonan-si| true|gym facility in C...|            103| 36.81503|  127.1139|
| 6000001| Gyeongsangbuk-do|from other city| true|  Shincheonji Church|            566|        -|         -|
| 6000002| Gyeongsangbuk-do|   Cheongdo-gun| true|Cheongdo Daenam H...|            119| 35.64887|  128.7368|
| 6000012| Gyeongsangbuk-do|              -|false|contact with patient|            190|        -|         -|
| 6000013| Gyeongsangbuk-do|              -|false|                 etc|            133|        -|         -|
+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+

In [59]:
spark.sql("select * from covid_data where  confirmed_cases > 100 order by confirmed_cases desc").show()

+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
| case_id|         province|           city|group|     continment_area|confirmed_cases| latitude| longitude|
+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+
| 1200001|            Daegu|         Nam-gu| true|  Shincheonji Church|           4511| 35.84008|  128.5667|
| 1200009|            Daegu|              -|false|contact with patient|            917|        -|         -|
| 1200010|            Daegu|              -|false|                 etc|            747|        -|         -|
| 6000001| Gyeongsangbuk-do|from other city| true|  Shincheonji Church|            566|        -|         -|
| 2000020|      Gyeonggi-do|              -|false|     overseas inflow|            305|        -|         -|
| 1000036|            Seoul|              -|false|     overseas inflow|            298|        -|         -|
| 1200002|            Daegu|   Dalseong-gun| true|Second Mi-Ju Hosp...|            196|35.857375|128.466651|
| 6000012| Gyeongsangbuk-do|              -|false|contact with patient|            190|        -|         -|
| 1000037|            Seoul|              -|false|contact with patient|            162|        -|         -|
| 1000001|            Seoul|     Yongsan-gu| true|       Itaewon Clubs|            139|37.538621|126.992652|
| 6000013| Gyeongsangbuk-do|              -|false|                 etc|            133|        -|         -|
| 1200003|            Daegu|         Seo-gu| true|Hansarang Convale...|            124|35.885592|128.556649|
| 1000002|            Seoul|      Gwanak-gu| true|             Richway|            119| 37.48208|126.901384|
| 6000002| Gyeongsangbuk-do|   Cheongdo-gun| true|Cheongdo Daenam H...|            119| 35.64887|  128.7368|
| 4100001|Chungcheongnam-do|     Cheonan-si| true|gym facility in C...|            103| 36.81503|  127.1139|
| 1200004|            Daegu|   Dalseong-gun| true|Daesil Convalesce...|            101|35.857393|128.466653|
+--------+-----------------+---------------+-----+--------------------+---------------+---------+----------+

#### 6.Implementing Spark UDFs

##### UDF to Convert Non-Integer Values to Zero

In [60]:
def convert_int(value): 
    try: 
        return int(value)
    except (ValueError, TypeError) : 
        return 0

In [62]:
convert_to_int_udf = udf(convert_int, IntegerType())

In [ ]:
confirmed_cases = data.withColumn("confirmed_cases_int", convert_to_int_udf(data["confirmed_cases"]))
confirmed_cases.show()

In [66]:
def casesHighLow(confirmed):
    if confirmed < 50: 
        return 'low'
    else:
        return 'high'

In [68]:
casesHighLowUDF = udf(casesHighLow, StringType())
CasesWithHighLow = data.withColumn("HighLow", casesHighLowUDF("confirmed_cases"))
CasesWithHighLow.show()

25/02/06 12:03:01 ERROR Executor: Exception in task 0.0 in stage 54.0 (TID 44)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/Cellar/apache-spark/3.3.1/libexec/python/lib/pyspark.zip/pyspark/worker.py", line 540, in main
    raise RuntimeError(
RuntimeError: Python in worker has different version 3.12 than that in driver 3.11, PySpark cannot run with different minor versions. Please check environment variables PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON are correctly set.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:86)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:68)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:364)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:890)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1589)
25/02/06 12:03:01 WARN TaskSetManager: Lost task 0.0 in stage 54.0 (TID 44) (prasannas-mbp.lan executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/Cellar/apache-spark/3.3.1/libexec/python/lib/pyspark.zip/pyspark/worker.py", line 540, in main
    raise RuntimeError(
RuntimeError: Python in worker has different version 3.12 than that in driver 3.11, PySpark cannot run with different minor versions. Please check environment variables PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON are correctly set.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:86)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:68)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:364)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:890)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1589)

25/02/06 12:03:01 ERROR TaskSetManager: Task 0 in stage 54.0 failed 1 times; aborting job

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/usr/local/Cellar/apache-spark/3.3.1/libexec/python/lib/pyspark.zip/pyspark/worker.py", line 540, in main
    raise RuntimeError(
RuntimeError: Python in worker has different version 3.12 than that in driver 3.11, PySpark cannot run with different minor versions. Please check environment variables PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON are correctly set.